<div class="container" style="padding-top:1.2%">
    <div class="row">
     {{#each user}} 
        <div class="col-sm-3 col-md-2">
            <p class="text-center">
                <img src="https://visage.surgeplay.com/full/195/{{uuid}}" width="120" height="195">
            </p>
            <div class="list-group">
                <a class="list-group-item  active " href="/u/{{ name }}">General</a>
                <a class="list-group-item" href="/u/{{ name }}/practice">Practice</a>
                <a class="list-group-item" href="/u/{{ name }}/factions">Factions</a>
                <a class="list-group-item" href="/u/{{ name }}/sg">Survival Games</a>
            </div>
            {{#each ../media}}
                {{#if email}}
                    <p style="font-size: 90%"><i class="fas fa-envelope"></i></span>&nbsp;{{ email }}</p>
                {{/if}}
            {{/each}}
        </div>
        <div class="col-sm-9 col-md-10">
            <div>
                <span style="font-size: 36px; margin-right:10px;">{{ name }}</span>
            </div>
            <div>
			{{#if isonline}}
				<b><font color="green"> Online on {{lastserver}}</font></b> 
				{{else}}
                <span class="text-muted">Last seen {{lastjoin}} on {{lastserver}}</span>
			{{/if}}
            </div>
            <div>
                <span class="label label-info"><img src="../../assets/img/flags/{{countrycode}}.png" style="vertical-align: text-bottom"> {{ country }}</span>
            {{#if ranks}}
                {{#each ranks}}
                    {{#if banned }}
                        <span class="label" style="background-color:#d9534f;">{{ banned }}</span>
                    {{/if}}
                    {{#if type }}
                        <span class="label label-{{name}}">{{ name }}</span>
                    {{else}}
                        <i class="{{name}}" style="color:{{color}};font-size:1.2rem;vertical-align: bottom"></i>
                    {{/if}}
                {{/each}}
            {{/if}}
            {{#unless ispremium }}
                    <span class="label label-nopremium">No Premium</span>
            {{/unless}}
            </div>
            <hr>
            <div>
                Joined:
                <a href="" style="cursor: default;" data-toggle="tooltip" title="{{#timeago joined_stamp}}{{/timeago}}">
                    {{joined}}
                </a>
            </div>
			<hr>
            <div>
                Profile Views: {{ views }}
            </div>
                {{/each}}
            <hr>
            {{#if names}}
            <div>
                <p>Name History</p>
                <ul>
                    {{#each names}}
                    {{#unless changedToAt}}
                    <li>
                        Original name: <b>{{name}}</b>
                    </li>
                    {{/unless}}
                    {{#if changedToAt}}
                    <li>
                        Changed name to <b>{{name}}</b> on  {{ changedToAt }}
                    </li>
                    {{/if}}
                    {{/each }}
                </ul>
            </div>
            <hr>
            {{/if}}
            <!--{{#each friends}}
            <p>Friends <span class="badge">390</span></p>
            {{/each}}
            <hr>-->
            {{#each media}}
            <div style="font-size: 150%">
                {{#if youtube}}
                <a href="https://www.youtube.com/user/{{youtube}}" style="margin: 10px"
                    data-toggle="tooltip" title="" target="_blank" data-original-title="YouTube: youtube.com/user/{{youtube}}"><i class="fab fa-youtube"></i></span>&nbsp;{{youtube}}</a>
                {{/if}}
                {{#if twitter}}
                <a href="https://twitter.com/{{twitter}}" style="margin: 10px"
                    data-toggle="tooltip" title="" target="_blank" data-original-title="Twitter: twitter.com/{{twitter}}"><i class="fab fa-twitter"></i></span>&nbsp;{{twitter}}</a>
                {{/if}}
                {{#if discord}}
                <a href="#" style="margin: 10px"
                    data-toggle="tooltip" title="" data-original-title="Discord: {{discord}}"><i class="fab fa-discord"></i></span>&nbsp;{{discord}}</a>
                {{/if}}
                {{#if twitch}}
                <a href="http://twitch.tv/{{twitch}}" style="margin: 10px"
                    data-toggle="tooltip" title="" target="_blank" data-original-title="Twitch: twitch.tv/{{twitch}}"><i class="fab fa-twitch"></i></span>&nbsp;{{twitch}}</a>
                {{/if}}
                {{#if steam}}
                <a href="https://steamcommunity.com/id/{{steam}}" style="margin: 10px"
                    data-toggle="tooltip" title="" target="_blank" data-original-title="Steam: steamcommunity.com/id/{{steam}}"></span>&nbsp;{{steam}}</a>
                {{/if}}
            </div>
            {{/each}}
            {{#if comments}}
            <hr>
            <p>Comments <span class="badge">{{comments.length}}</span></p>
            <div id="comments-list">
                <!--<nav> 
                    <ul class="pagination">
                        <li class="disabled"><a aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                        <li class="active"><span>1</span></li>
                        <li style="cursor:pointer;"><a data-page="2" data-paginator="comments">2</a></li>
                        <li style="cursor:pointer;"><a data-page="3" data-paginator="comments">3</a></li>
                        <li style="cursor:pointer;"><a data-page="4" data-paginator="comments">4</a></li>
                        <li class="disabled"><span>...</span></li>
                        <li style="cursor:pointer;"><a data-page="13" data-paginator="comments">13</a></li>
                        <li style="cursor:pointer;"><a aria-label="Next" data-page="2" data-paginator="comments"><span
                                    aria-hidden="true">»</span></a></li>
                    </ul>
                </nav>-->
                {{#each comments}}
                <ul class="list-group">
                    <li class="list-group-item">
                        <a class="pull-left" style="position:relative; margin: 4px 5px 0 0;"><img src="https://visage.surgeplay.com/face/32/{{user}}"></a>
                        <a href="/u/{{name}}">{{ name }}</a>
                        <div class="text-muted pull-right" data-toggle="tooltip" title="" data-original-title="{{ date }}">
                            <small>{{ date }}</small>
                        </div>
                        <p style="margin-bottom:0px;word-wrap: break-word;overflow: hidden;">{{ comment }}</p>
                    </li>
                </ul>
            {{/each}}
            {{/if}}

                <!--<nav>
                    <ul class="pagination">
                        <li class="disabled"><a aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                        <li class="active"><span>1</span></li>
                        <li style="cursor:pointer;"><a data-page="2" data-paginator="comments">2</a></li>
                        <li style="cursor:pointer;"><a data-page="3" data-paginator="comments">3</a></li>
                        <li style="cursor:pointer;"><a data-page="4" data-paginator="comments">4</a></li>
                        <li class="disabled"><span>...</span></li>
                        <li style="cursor:pointer;"><a data-page="13" data-paginator="comments">13</a></li>
                        <li style="cursor:pointer;"><a aria-label="Next" data-page="2" data-paginator="comments"><span
                                    z aria-hidden="true">»</span></a></li>
                    </ul>
                </nav> -->
            </div>
            <!--
        </div>
    </div>-->
</div>
