<div class="container">
    {{#if staff.Owner}}
    <h2>Owner <span class="badge" style="vertical-align: super"> {{ staff.Owner.length }} </span></h2>
    <div class="row">
        {{#each staff.Owner}}
        <div class="col-md-2 col-sm-3 col-xs-6">
            <a href="/u/{{ player }}">
                <div class="text-center">
                    <img src="https://visage.surgeplay.com/bust/{{uuid}}" width="96" height="96">
                </div>
                <div class="text-center">
                    <b>{{player}}</b>
                      <img src="../../assets/img/flags/{{countrycode}}.png" style="width:18px;height:12px;vertical-align: baseline !important" data-toggle="tooltip" title="{{country}}" data-original-title="{{country}}">
                </div>
            </a>
        </div>
        {{/each}}
    </div>
    {{/if}}
    {{#if staff.Dev}}
    <h2>Developer <span class="badge" style="vertical-align: super"> {{ staff.Dev.length }} </span></h2>
    <div class="row">
        {{#each staff.Dev}}
        <div class="col-md-2 col-sm-3 col-xs-6">
            <a href="/u/{{ player }}">
                <div class="text-center">
                    <img src="https://visage.surgeplay.com/bust/{{uuid}}" width="96" height="96">
                </div>
                <div class="text-center">
                    <b>{{player}}</b>
                      <img src="../../assets/img/flags/{{countrycode}}.png" style="width:18px;height:12px;vertical-align: baseline !important" data-toggle="tooltip" title="{{country}}" data-original-title="{{country}}">
                </div>
            </a>
        </div>
        {{/each}}
    </div>
    {{/if}}
    {{#if staff.JDev}}
    <h2>Jr. Developer <span class="badge" style="vertical-align: super"> {{ staff.JDev.length }} </span></h2>
    <div class="row">
        {{#each staff.JDev}}
        <div class="col-md-2 col-sm-3 col-xs-6">
            <a href="/u/{{ player }}">
                <div class="text-center">
                    <img src="https://visage.surgeplay.com/bust/{{uuid}}" width="96" height="96">
                </div>
                <div class="text-center">
                    <b>{{player}}</b>
                      <img src="../../assets/img/flags/{{countrycode}}.png" style="width:18px;height:12px;vertical-align: baseline !important" data-toggle="tooltip" title="{{country}}" data-original-title="{{country}}">
                </div>
            </a>
        </div>
        {{/each}}
    </div>
    {{/if}}
    {{#if staff.NetAdm}}
    <h2>Network Admin <span class="badge" style="vertical-align: super"> {{ staff.NetAdm.length }} </span></h2>
    <div class="row">
        {{#each staff.NetAdm}}
        <div class="col-md-2 col-sm-3 col-xs-6">
            <a href="/u/{{ player }}">
                <div class="text-center">
                    <img src="https://visage.surgeplay.com/bust/{{uuid}}" width="96" height="96">
                </div>
                <div class="text-center">
                    <b>{{player}}</b>
                      <img src="../../assets/img/flags/{{countrycode}}.png" style="width:18px;height:12px;vertical-align: baseline !important" data-toggle="tooltip" title="{{country}}" data-original-title="{{country}}">
                </div>
            </a>
        </div>
        {{/each}}
    </div>
    {{/if}}
    {{#if staff.PAdmin}}
    <h2>Platform Admin <span class="badge" style="vertical-align: super"> {{ staff.PAdmin.length }} </span></h2>
    <div class="row">
        {{#each staff.PAdmin}}
        <div class="col-md-2 col-sm-3 col-xs-6">
            <a href="/u/{{ player }}">
                <div class="text-center">
                    <img src="https://visage.surgeplay.com/bust/{{uuid}}" width="96" height="96">
                </div>
                <div class="text-center">
                    <b>{{player}}</b>
                      <img src="../../assets/img/flags/{{countrycode}}.png" style="width:18px;height:12px;vertical-align: baseline !important" data-toggle="tooltip" title="{{country}}" data-original-title="{{country}}">
                </div>
            </a>
        </div>
        {{/each}}
    </div>
    {{/if}}
    {{#if staff.Admin}}
    <h2>Admin <span class="badge" style="vertical-align: super"> {{ staff.Admin.length }} </span></h2>
    <div class="row">
        {{#each staff.Admin}}
        <div class="col-md-2 col-sm-3 col-xs-6">
            <a href="/u/{{ player }}">
                <div class="text-center">
                    <img src="https://visage.surgeplay.com/bust/{{uuid}}" width="96" height="96">
                </div>
                <div class="text-center">
                    <b>{{player}}</b>
                      <img src="../../assets/img/flags/{{countrycode}}.png" style="width:18px;height:12px;vertical-align: baseline !important" data-toggle="tooltip" title="{{country}}" data-original-title="{{country}}">
                </div>
            </a>
        </div>
        {{/each}}
    </div>
    {{/if}}
    {{#if staff.SeniorP}}
    <h2>Senior Mod+ <span class="badge" style="vertical-align: super"> {{ staff.SeniorP.length }} </span></h2>
    <div class="row">
        {{#each staff.SeniorP}}
        <div class="col-md-2 col-sm-3 col-xs-6">
            <a href="/u/{{ player }}">
                <div class="text-center">
                    <img src="https://visage.surgeplay.com/bust/{{uuid}}" width="96" height="96">
                </div>
                <div class="text-center">
                    <b>{{player}}</b>
                      <img src="../../assets/img/flags/{{countrycode}}.png" style="width:18px;height:12px;vertical-align: baseline !important" data-toggle="tooltip" title="{{country}}" data-original-title="{{country}}">
                </div>
            </a>
        </div>
        {{/each}}
    </div>
    {{/if}}
    {{#if staff.Senior}}
    <h2>Senior Mod <span class="badge" style="vertical-align: super"> {{ staff.Senior.length }} </span></h2>
    <div class="row">
        {{#each staff.Senior}}
        <div class="col-md-2 col-sm-3 col-xs-6">
            <a href="/u/{{ player }}">
                <div class="text-center">
                    <img src="https://visage.surgeplay.com/bust/{{uuid}}" width="96" height="96">
                </div>
                <div class="text-center">
                    <b>{{player}}</b>
                      <img src="../../assets/img/flags/{{countrycode}}.png" style="width:18px;height:12px;vertical-align: baseline !important" data-toggle="tooltip" title="{{country}}" data-original-title="{{country}}">
                </div>
            </a>
        </div>
        {{/each}}
    </div>
    {{/if}}
    {{#if staff.ModP}}
    <h2>Mod+ <span class="badge" style="vertical-align: super"> {{ staff.ModP.length }} </span></h2>
    <div class="row">
        {{#each staff.ModP}}
        <div class="col-md-2 col-sm-3 col-xs-6">
            <a href="/u/{{ player }}">
                <div class="text-center">
                    <img src="https://visage.surgeplay.com/bust/{{uuid}}" width="96" height="96">
                </div>
                <div class="text-center">
                    <b>{{player}}</b>
                      <img src="../../assets/img/flags/{{countrycode}}.png" style="width:18px;height:12px;vertical-align: baseline !important" data-toggle="tooltip" title="{{country}}" data-original-title="{{country}}">
                </div>
            </a>
        </div>
        {{/each}}
    </div>
    {{/if}}
    {{#if staff.Mod}}
    <h2>Mod <span class="badge" style="vertical-align: super"> {{ staff.Mod.length }} </span></h2>
    <div class="row">
        {{#each staff.Mod}}
        <div class="col-md-2 col-sm-3 col-xs-6">
            <a href="/u/{{ player }}">
                <div class="text-center">
                    <img src="https://visage.surgeplay.com/bust/{{uuid}}" width="96" height="96">
                </div>
                <div class="text-center">
                    <b>{{player}}</b>
                      <img src="../../assets/img/flags/{{countrycode}}.png" style="width:18px;height:12px;vertical-align: baseline !important" data-toggle="tooltip" title="{{country}}" data-original-title="{{country}}">
                </div>
            </a>
        </div>
        {{/each}}
    </div>
    {{/if}}
    {{#if staff.TMod}}
    <h2>Trial Mod <span class="badge" style="vertical-align: super"> {{ staff.TMod.length }} </span></h2>
    <div class="row">
        {{#each staff.TMod}}
        <div class="col-md-2 col-sm-3 col-xs-6">
            <a href="/u/{{ player }}">
                <div class="text-center">
                    <img src="https://visage.surgeplay.com/bust/{{uuid}}" width="96" height="96">
                </div>
                <div class="text-center">
                    <b>{{player}}</b>
                      <img src="../../assets/img/flags/{{countrycode}}.png" style="width:18px;height:12px;vertical-align: baseline !important" data-toggle="tooltip" title="{{country}}" data-original-title="{{country}}">
                </div>
            </a>
        </div>
        {{/each}}
    </div>
    {{/if}}
    {{#if staff.Builder}}
    <h2>Builder <span class="badge" style="vertical-align: super"> {{ staff.Builder.length }} </span></h2>
    <div class="row">
        {{#each staff.Builder}}
        <div class="col-md-2 col-sm-3 col-xs-6">
            <a href="/u/{{ player }}">
                <div class="text-center">
                    <img src="https://visage.surgeplay.com/bust/{{uuid}}" width="96" height="96">
                </div>
                <div class="text-center">
                    <b>{{player}}</b>
                        <img src="../../assets/img/flags/{{countrycode}}.png" style="width:18px;height:12px;vertical-align: baseline !important" data-toggle="tooltip" title="{{country}}" data-original-title="{{country}}">
                </div>
            </a>
        </div>
        {{/each}}
    </div>
    {{/if}}
</div>