    <div class="panel panel-default">
        <div class="panel-heading">
            <p style="display: -webkit-inline-box;">{{body.title}}</p>
            <span class="badge badge-info pull-right">#3</span>
        </div>
        <div class="panel-body">
            <p><b>Age -</b> {{body.age}}</p>
            <p><b>Country & Time Zone -</b> {{body.country}}</p>
            <p><b>What language(s) do you fluently speak? -</b> {{body.languages}}</p>
            <p><b>Average daily play time -</b> {{body.playtime_average}}</p>
            <p><b>Any previous Minecraft Staff experience ? -</b> {{body.past_experience}}</p>
            <p><b>Why do you want to become part of the Staff Team? -</b> {{body.staffapply_reason  }}</p>
        </div>
    </div>