    <div class="panel panel-default">
        <div class="panel-heading">
            <p style="display: -webkit-inline-box;">{{body.title}}</p>
            <span class="badge badge-info pull-right">#3</span>
        </div>
        <div class="panel-body">
            <p><b>Porque se te baneo ? -</b> {{body.ban_reason}}</p>
            <p><b>Sos culpable ? -</b> {{body.guilty}}</p>
            <p><b>Alguna Prueba ? -</b> {{body.evidence}}</p>
            <p><b>Por qué deberias ser desbaneado ? -</b> {{body.unban_reason}}</p>
        </div>
    </div>