<div class="container py-2">
    <h2 class="font-weight-light py-3">Change Logs</h2>
    <div class="col-md-8">
        {{#each commit }}
        {{#if commit_release}}
        <div class="row">
            <!-- timeline item 1 left dot -->
            <div class="col-auto text-center flex-column d-none d-sm-flex">
                <div class="row h-50">
                    <div class="col">&nbsp;</div>
                    <div class="col">&nbsp;</div>
                </div>
                <h5 class="m-2">
                    <span class="badge badge-pill border bg-success">&nbsp;</span>
                </h5>
                <div class="row h-50">
                    <div class="col border-right">&nbsp;</div>
                    <div class="col">&nbsp;</div>
                </div>
            </div>
            <div class="col py-2">
                <div class="card border-success">
                    <div class="card-body">
                        <div class="float-right text-muted" data-toggle="tooltip" title="test" >{{#to_datetime commit_date }}{{/to_datetime}}</div>
                        <h4 class="card-title text-success">Commit: <p class="card-subtitle text-muted"
                                style="display: inline;font-size: 16px">[ #99999 ] {{ summary }}</p>
                        </h4>
                        <p class="card-text">{{ commit_desc }}</p>
                        {{#if commit_changes}}
                        <button class="btn btn-sm btn-outline-secondary" type="button" data-target="#t2_details"
                            data-toggle="collapse">Show Details ▼</button>
                        <div class="collapse border" id="t2_details">
                            <div class="p-2 text-monospace">
                                <div>08:30 - 09:00 Breakfast in CR 2A</div>
                                <div>09:00 - 10:30 Live sessions in CR 3</div>
                                <div>10:30 - 10:45 Break</div>
                                <div>10:45 - 12:00 Live sessions in CR 3</div>
                            </div>
                        </div>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
        {{else}}
        <div class="row">
            <div class="col-auto text-center flex-column d-none d-sm-flex">
                <div class="row h-50">
                    <div class="col border-right">&nbsp;</div>
                    <div class="col">&nbsp;</div>
                </div>
                <h5 class="m-2">
                    <span class="badge badge-pill bg-light border">&nbsp;</span>
                </h5>
                <div class="row h-50">
                    <div class="col border-right">&nbsp;</div>
                    <div class="col">&nbsp;</div>
                </div>
            </div>
            <div class="col py-2">
                <div class="card">
                    <div class="card-body">
                        <div class="float-right text-muted" data-toggle="tooltip" title="test" >{{#to_datetime commit_date }}{{/to_datetime}}</div>
                        <h4 class="card-title">Commit: <p class="card-subtitle text-muted"
                                style="display: inline;font-size: 16px">[ #99999 ] {{ summary }}</p>
                        </h4>
                        <p class="card-text">{{ commit_desc }}</p>
                        {{#if commit_changes}}
                        <button class="btn btn-sm btn-outline-secondary" type="button" data-target="#t2_details"
                            data-toggle="collapse">Show Details ▼</button>
                        <div class="collapse border" id="t2_details">
                            <div class="p-2 text-monospace">
                                <div>08:30 - 09:00 Breakfast in CR 2A</div>
                                <div>09:00 - 10:30 Live sessions in CR 3</div>
                                <div>10:30 - 10:45 Break</div>
                                <div>10:45 - 12:00 Live sessions in CR 3</div>
                            </div>
                        </div>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
        {{/if}}
        {{/each}}
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                Submit Commits
            </div>
            <div class="panel-body">
                <form method="POST" action="/admin/dev/commit">
                    <div class="form-group">
                        <label for="summary">Summary:</label> <input class="form-control" id="summary"
                            name="summary" type="text">
                    </div>
                    <div class="form-group">
                        <label for="commit_desc">Description:</label> <textarea class="form-control" id="commit_desc"
                            name="commit_desc" type="text"></textarea>
                    </div>
                    <div class="form-group">
                        <input type="checkbox" class="form-check-input" name="commit_release" id="commit_release">
                        <label class="form-check-label" for="commit_release">&nbsp;&nbsp;&nbsp;&nbsp;<p  style="display: contents;"  class="text-muted">Release Version</p> ( Upload to all modules ).  </label>
                    </div>
                    <button type="submit" class="btn btn-success pull-right">Commit.</button>
                </form>
            </div>
        </div>
    </div>
</div>

<hr>

<div class="container py-2">
    <h2 class="font-weight-light py-3">Suggestions</h2>
    <div class="row no-gutters">
        <div class="col-sm">
        </div>
        <div class="col-sm-1 text-center flex-column d-none d-sm-flex">
            <div class="row h-50">
                <div class="col">&nbsp;</div>
                <div class="col">&nbsp;</div>
            </div>
            <h5 class="m-2">
                <span class="badge badge-pill bg-light border">&nbsp;</span>
            </h5>
            <div class="row h-50">
                <div class="col border-right">&nbsp;</div>
                <div class="col">&nbsp;</div>
            </div>
        </div>
        <!-- timeline item 1 event content -->
        <div class="col-sm py-2">
            <div class="card">
                <div class="card-body">
                    <div class="float-right text-muted small">Jan 9th 2019 7:00 AM</div>
                    <h4 class="card-title text-muted">Day 1 Orientation</h4>
                    <p class="card-text">Welcome to the campus, introduction and get started with the tour.</p>
                </div>
            </div>
        </div>
    </div>
    <!--/row-->
    <!-- timeline item 2 -->
    <div class="row no-gutters">
        <div class="col-sm py-2">
            <div class="card border-success shadow">
                <div class="card-body">
                    <div class="float-right text-success small">Jan 10th 2019 8:30 AM</div>
                    <h4 class="card-title text-success">Day 2 Sessions</h4>
                    <p class="card-text">Sign-up for the lessons and speakers that coincide with your course syllabus.
                        Meet and greet with instructors.</p>
                    <button class="btn btn-sm btn-outline-secondary" type="button" data-target="#t22_details"
                        data-toggle="collapse">Show Details ▼</button>
                    <div class="collapse border" id="t22_details">
                        <div class="p-2 text-monospace">
                            <div>08:30 - 09:00 Breakfast in CR 2A</div>
                            <div>09:00 - 10:30 Live sessions in CR 3</div>
                            <div>10:30 - 10:45 Break</div>
                            <div>10:45 - 12:00 Live sessions in CR 3</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-1 text-center flex-column d-none d-sm-flex">
            <div class="row h-50">
                <div class="col border-right">&nbsp;</div>
                <div class="col">&nbsp;</div>
            </div>
            <h5 class="m-2">
                <span class="badge badge-pill bg-success">&nbsp;</span>
            </h5>
            <div class="row h-50">
                <div class="col border-right">&nbsp;</div>
                <div class="col">&nbsp;</div>
            </div>
        </div>
        <div class="col-sm">
            <!--spacer-->
        </div>
    </div>
    <!--/row-->
    <!-- timeline item 3 -->
    <div class="row no-gutters">
        <div class="col-sm">
            <!--spacer-->
        </div>
        <div class="col-sm-1 text-center flex-column d-none d-sm-flex">
            <div class="row h-50">
                <div class="col border-right">&nbsp;</div>
                <div class="col">&nbsp;</div>
            </div>
            <h5 class="m-2">
                <span class="badge badge-pill bg-light border">&nbsp;</span>
            </h5>
            <div class="row h-50">
                <div class="col border-right">&nbsp;</div>
                <div class="col">&nbsp;</div>
            </div>
        </div>
        <div class="col-sm py-2">
            <div class="card">
                <div class="card-body">
                    <div class="float-right text-muted small">Jan 11th 2019 8:30 AM</div>
                    <h4 class="card-title">Day 3 Sessions</h4>
                    <p>Shoreditch vegan artisan Helvetica. Tattooed Codeply Echo Park Godard kogi, next level irony
                        ennui twee squid fap selvage. Meggings flannel Brooklyn literally small batch, mumblecore PBR
                        try-hard kale chips. Brooklyn vinyl lumbersexual
                        bicycle rights, viral fap cronut leggings squid chillwave pickled gentrify mustache.</p>
                </div>
            </div>
        </div>
    </div>
    <!--/row-->
    <!-- timeline item 4 -->
    <div class="row no-gutters">
        <div class="col-sm py-2">
            <div class="card">
                <div class="card-body">
                    <div class="float-right text-muted small">Jan 12th 2019 11:30 AM</div>
                    <h4 class="card-title">Day 4 Wrap-up</h4>
                    <p>Join us for lunch in Bootsy's cafe across from the Campus Center.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-1 text-center flex-column d-none d-sm-flex">
            <div class="row h-50">
                <div class="col border-right">&nbsp;</div>
                <div class="col">&nbsp;</div>
            </div>
            <h5 class="m-2">
                <span class="badge badge-pill bg-light border">&nbsp;</span>
            </h5>
            <div class="row h-50">
                <div class="col">&nbsp;</div>
                <div class="col">&nbsp;</div>
            </div>
        </div>
        <div class="col-sm">
            <!--spacer-->
        </div>
    </div>
    <!--/row-->
</div>